GOOGLE_CLIENT_ID=1038071702644-n6c1dl0ghp0ai22sua0eioda3pgra.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-R5fhPT9KewmcyByEQPALNbMYuc

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret // generate with `openssl rand -base64 32`